@media only screen and (max-width: 320px){

    .wrapper{
        margin: 0px auto;
        padding: 0px 10px;
        max-width: 320px;
        overflow-x: hidden;
    }   
    /*----------------------------- PROMO SECTION -----------------------------*/

    .promo_mobile{
        width: 320px;
        height: 540px;
        background-image: url('../assets/img/promo__container_bg_mobile.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0%;
    }
        .promo__header{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            justify-self: center;
            margin: 0px auto;
            max-width: 320px;
        }
            .promo__header__name_mobile{
                order: 2;
            }
            .promo__header__name_margin{
                margin: 120px auto 0px;
            }
                .name{
                    font-size: 20px;
                    letter-spacing: 0.5px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-family: 'Montserrat_B';
                }
            .promo__header__user-form_margin{
                margin-top: 25px ;
            }
                .user-form{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #ffffff;
                    font-size: 14px;
                }
                    .user-form__item{
                        display:flex;
                        justify-content: center;
                        align-items:center;
                        cursor: pointer;
                        width: 89px;
                        height: 40px;
                    }
        .promo__container{
            max-width: 320px;
            margin:40px auto 0px;
            text-align: center;
        }
            .promo__container__main{
                font-size: 30px;
            }
            .promo__container__main_margin{
                margin-bottom: 0px;
            }
            .promo__container__sub-main{
                font-size: 18px;
                width: 70%;
            }
            .promo__container__sub-main_margin{
                margin:20px auto 0px;
            }     
            .find-partner__button{
                width: 90%;
                }
            .promo__container__find-partner__button_margin{
                margin: 20px auto 0px;
            }    
    /*----------------------------------- HOW IT WORKS SECTION ----------------------------*/          
    .how-it-works_margin{
        margin-top: 40px;
    } 
        .how-it-works__steps{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
        }
        .how-it-works__steps_margin{
            margin-top: 38px;
        }
            .steps__item{
                flex: 0 0 300px;
                height: 243px;
                background-size: 100% 100%;
            }
            .steps__item_margin-mobile{
                margin-top: 10px;
            }
                .steps__item__container{
                    padding: 19px;
                }
    /*-------------------------------- FIND A PARTNER SECTION ------------------------------*/                
    .find-a-partner-section_margin{
        margin-top: 40px;
    }
    .find-a-partner-section__partner-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }     
        .find-a-partner-section__partner-list_margin{   
        margin-top: 33px;
        }    
        
        .partner-list__item{
            flex: 0 1 206px;
            align-items: center;
        }
        .partner-list__item_mobileMargin{
            margin-top: 30px;
        }
        .partner__item__title_person-name{
            margin-top: 20px;
            font-size: 14px;
        }
        .partner__item__person-info{
                width: 70%;
            }
            .partner__item__person-info_margin{
                margin-top: 15px;
            }

        .find-a-partner-section__find-partner_margin{
            margin: 35px auto 0px;
        }
            .find-a-partner-section__find-partner__button_white{
                width: 95%;
            }
    /*------------------------------------- DISCOVER ACTIVITY SECTION -----------------------------*/          
    .discover-activity_margin{
        margin: 40px auto 0px;
    } 
        .discover-activity__container_margin{
            margin: 35px auto 0px;
        } 
            .discover-activity__list{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;
            }
                .discover-activity__list__item{
                    background: #000;
                    height: 120px;
                    overflow: hidden;
                    border-radius: 4px;
                }
                .discover-activity__list__item_margin{
                    margin-bottom: 20px;
                }
                .discover-activity__list__item_single{
                    flex: 0 0 300px;
                }    
                .discover-activity__list__item_double{
                    flex: 0 0 300px;
                }
                    .discover-activity__list__item__bg_item1{
                        background-image: url(../assets/img/activity_mobile/item1_bg_mobile.jpg);
                    }
                    .discover-activity__list__item__bg_item2{
                        background-image: url(../assets/img/activity_mobile/item2_bg_mobile.jpg);
                    }
                    .discover-activity__list__item__bg_item3{
                        background-image: url(../assets/img/activity_mobile/item3_bg_mobile.jpg);
                    }
                    .discover-activity__list__item__bg_item4{
                        background-image: url(../assets/img/activity_mobile/item4_bg_mobile.jpg);
                    }
                    .discover-activity__list__item__bg_item5{
                        background-image: url(../assets/img/activity__list/item5_bg.jpg);
                    }
                    .discover-activity__list__item__bg_item6{
                        background-image: url(../assets/img/activity__list/item6_bg.jpg);
                    }
                    .discover-activity__list__item__bg_item7{
                        background-image: url(../assets/img/activity_mobile/item7_bg_mobile.jpg);
                    }
        .discover-activity__contact-form{
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        } 
        .discover-activity__contact-form_margin{
            margin: 40px auto 0px;
        }
            .contact-form__text_margin{
                margin-top: 35px;
            }
            .contact-form__form{
                flex-direction: column;
                width: 300px;
            }
            .contact-form__form_margin{
                margin: 37px auto 0px;
            }   
                .contact-form__form__input{
                    width: 100%;
                } 
                .contact-form__form__find-partner__button_resize{
                    margin-top: 15px;
                    width: 100%;
                }
    /*--------------------------------------- FOOTER SECTION -----------------------------*/            
    .footer-section{
        width: 1440px;
        border-top: 4px solid #ff4e50;
        align-self: center;
        }  
    .footer-section_margin{
        margin-top: 40px; 
    } 
        .footer-section__container{
            width: 200px;
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        }
        .footer-section__container_margin{
            margin: 20px auto 40px;
        }
        .footer-section__container__left{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
            .footer-section__container__company_margin{
                margin-left: 0px;
                margin-top: 20px;
            } 
                .company__contacts__contact{
                    display: inline-block;
                    margin: 0px 1px;
                }    
            .footer-section__container__partners_margin{
                margin-left: 0px;
                margin-top: 20px;
            }    
            .footer-section__container__logo-container{
                margin: 20px auto 0px;
            }
}