@media only screen and (max-width: 768px){
    .wrapper{
        width: 748px;
    }
     
    /*----------------------------- PROMO SECTION -----------------------------*/
    .promo__header{
        max-width: 748px;
    } 
    .promo__header_tablet{
        padding: 0px 30px;
    }
    .promo__header__name_margin{
        margin: 45px 0px 0px 0px;
        }  
    /*----------------------------------- HOW IT WORKS SECTION ----------------------------*/          
    .how-it-works_margin{
        margin-top: 92px;
    } 
        .how-it-works__steps{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .how-it-works__steps_margin{
            margin-top: 38px;
        }
            .steps__item{
                background-size: cover;
                background-position: 50% 0%;
            }
    /*-------------------------------- FIND A PARTNER SECTION ------------------------------*/                
    .find-a-partner-section_margin{
        margin: 92px auto 0px;
    }
    .find-a-partner-section__partner-list{
        max-width: 492px ;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }     
        .find-a-partner-section__partner-list_margin{   
        margin-top: 33px;
        }    
        .partner-list__item_tabletMargin{
            margin-top: 61px;;
        }
        .partner-list__item{
            flex: 0 1 218px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    /*------------------------------------- DISCOVER ACTIVITY SECTION -----------------------------*/          
        .discover-activity_margin{
            margin-top: 93px;
        } 
        .discover-activity__container_margin{
            margin-top: 35px;
        } 
            .discover-activity__list{
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: space-between;
            }
                .discover-activity__list__item_single{
                    flex: 0 0 236px;
                }    
                .discover-activity__list__item_double{
                    flex: 0 0 492px;
                }    
    /*--------------------------------------- FOOTER SECTION -----------------------------*/            
        .footer-section_margin{
            margin: 99px 0px 0px 0px; 
        } 
            .footer-section__container{
                width: 748px;
            }
            .footer-section__container_margin{
                padding: 0px 31px;
                margin: 38px auto 40px;
            }
            .footer-section__container__left{
                display: flex;
            }
                .footer-section__container__company_margin{
                    margin-left: 102px;
                }     
                .footer-section__container__partners_margin{
                    margin-left: 102px;
                }    
}           